<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TIME_INTERVAL_CHECKING_TASK" value="30000"/>
    <add key="IP_ACTIVE_DIRECTORY" value="LDAP://192.168.0.15"/>
    <add key="DOMAIN_ACTIVE_DIRECTORY" value="grupototal99.local"/>
  </appSettings>
  <connectionStrings>
    <add name="AutogestionTiendasEntities" connectionString="metadata=res://*/EntityDB.csdl|res://*/EntityDB.ssdl|res://*/EntityDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.202;initial catalog=AutogestionTiendas;user id=selfservicestores;password=RuMtT9oP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>